body {
    background-color: black;
    color: #82d4f5;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content {
    margin-left: 7rem;
    width: 70%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: black;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;


    ul {
        display: flex;
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.nav-bar-item {
    display: block;
    padding: 0.5rem;
    list-style: none;
}

.active {
    background-color: grey;
}
