.note-list {
   
}

.note-list-card {
    margin: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
    width: 23rem;
    background-color: rgb(122, 122, 122);
    border-radius: 0.25rem;

}

link {
    text-decoration: none;
}
