@import "./layout";
@import "./footer";
@import "./imageButton";
@import "06-components/note";
@import "./options";
@import "./notes";

:root {
    --main-color: rgb(120, 222, 222);
    --bg-color: black;
    --text-color: white;
}
